header {
display: block !important;
}
.mdl-grid , .mdl-cell {
margin: 0 !important;
}
.row1 , .row2 , .row3 , .row4, .row5 {
display: flex;
-webkit-display: flex;
width: 100%;
-webkit-flex-flow: row wrap;
flex-flow: row wrap;
}
.home-card {
margin: 16px;
text-decoration: none;
margin-bottom: 24px;
width: 300px;
}
.home-card-img {
width: 100%;
margin: 0px auto;
display: block;
}
.row-head {
padding: 0 0 15px 0;
color: white;
text-align: center;
}
.row2 {
background: #00BCD4;
padding: 2vw;
}
.row3 {
min-height: 450px;
background: #ebeff2;
}
.row4 {
min-height: 500px;
background: #455a64;
color: white;
}
.banner-wrap {
justify-content: center;
padding-left: 5vw;
flex-direction: column;
display: flex;
text-align: left;
}
.item span {
display: flex;
height: 100%;
text-decoration: none;
color: white;
}
.item .mdl-button, .main-grid .mdl-button {
  color: white;
  font-weight: 600;
  padding: 2px !important;
}
.banner-text {
margin-top: 1rem;
}
@media (max-width: 479px) {
.mdl-mini-footer__right-section {
margin: 0px auto;
order: 0;
}
.mdl-mini-footer__left-section {
margin: 0px auto;
order: 1;
}
}

.mdl-layout__header {
background: white;
}
.gdg-header .mdl-layout__header,
.gdg-header .mdl-layout__drawer-button {
color: #ddd;
}
.mdl-layout__header-row {
padding: 0 20px;
}
.share {
right: 0;
z-index: 2;
}
@media screen and (min-width: 479px)  {
.share {
position: fixed;
margin: 0 16px -84px 0; }
}
@media screen and (min-width: 760px)  {
.share {
position: absolute;
margin: -28px 40px 0 0;  }
}
@media screen and (min-width: 1024px)  {
.share {
position: absolute;
margin: -28px 50px 0 0;     }
}

nav a {
height: 64px !important;
line-height: 64px !important;
border-radius: 0px !important;
}
nav a:hover {
  line-height: 70px !important;  
  border-bottom: 6px solid black;
  background-color: transparent !important;
}

/*Post & Page styles*/
.post-header {
  width: 100%;
  background-color: #455a64;
  color: white;
  max-height: 192px;
  display: block;
  height: 192px;
  position: relative;
}
.post-card {
  width: 100%;
  position: initial;
}
.content {
  width: 66%;
  min-width: 425px;
  margin: 0px auto;
}
.image-header {
  background: url('/images/fallback-2.jpg') center / cover;
  box-shadow: inset 0 0 0 100px rgba(0,0,0,0.27);
}
.share {
  position: absolute;
  right: 0;
  margin: -28px 50px 0 0;
}