<footer class="mdl-mini-footer" itemscope itemprop="http://schema.org/WPFooter" >
  <div class="mdl-mini-footer__left-section">
    <img src="/images/logo-name.png" style="width: 200px; margin: -16px;">
    <ul class="mdl-mini-footer__link-list">
      <li>© {{ site.time | date: '%Y' }}</li>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">Terms</a></li>
    </ul>
    </div>
    <div class="mdl-mini-footer__right-section">
      <a class="mdl-mini-footer__social-btn"  href="https://github.com/skcript/gdgchennai"><img src=""></a>
      <a class="mdl-mini-footer__social-btn" href="https://www.facebook.com/gdgchennai"><img src=""></a>
      <a class="mdl-mini-footer__social-btn" href="https://plus.google.com/+Gdgchennai"><img src=""></a>
    </div>
</footer>
<style type="text/css">
  .mdl-mini-footer__social-btn {
    margin: 4px;
  }
</style>