<footer class="mdl-mini-footer" itemscope itemprop="http://schema.org/WPFooter" >
  <div class="mdl-mini-footer__left-section">
    <img src="/images/logo-name.png" style="width: 200px; margin: -16px;">
    <ul class="mdl-mini-footer__link-list">
      <li>© {{ site.time | date: '%Y' }}</li>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">Terms</a></li>
    </ul>
    </div>
    <div class="mdl-mini-footer__right-section">
      <a href="{{ site.data.links.facebook }}" target="_blank" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" style="background: #3b5998; margin: 8px">
        <img src="/images/facebook.svg" >
      </a>
      <a href="{{ site.data.links.googleplus }}" target="_blank" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab " style="background: #d34836; margin: 8px">
        <img src="/images/gplus.svg" >
      </a>
      <a href="{{ site.data.links.twitter }}" target="_blank" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab " style="background: #00aced; margin: 8px">
        <img src="/images/twitter.svg" >
      </a>  
    </div>
</footer>