<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <ul class="mdl-mini-footer__link-list">
      <li><a href="https://github.com/skript/gdgchennai">Source</a></li>
      <li><a href="https://developers.google.com/groups/">GDG Groups</a></li>
      <li><a href="https://plus.google.com/+Gdgchennai">Google+</a></li>
      <li><a href="https://www.facebook.com/gdgchennai">Facebook</a></li>
      <li><a href="https://twitter.com/#!/GTUGChennai">Twitter</a></li>
    </ul>
  </div>
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">
      <!--<span>© {{ site.time | date: '%Y' }}</span> -->
      <img src="/images/logo-name.png" style="width: 200px; margin: -16px 16px;">
    </div>
  </div>
</footer>
