<!-- Header Start-->
<header itemscope itemprop="http://schema.org/WPHeader" class="mdl-layout__header mdl-layout__header--transparent mdl-layout__header--waterfall" >
  <div class="mdl-layout__header-row">
    <!-- Icon -->
    <a class="mdl-layout-icon" href="/" data-pjax="main"><img src="/images/logo-name.png" style="width: 200px;"></a>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation -->
    <nav class="mdl-navigation mdl-layout--large-screen-only" itemscope itemprop='http://schema.org/SiteNavigationElement'>
      <a class="mdl-button mdl-js-button mdl-js-ripple-effect " data-pjax="main" href="/about" >About</a>
      <a class="mdl-button mdl-js-button mdl-js-ripple-effect " data-pjax="main" href="/posts" >Posts</a> 
      <a class="mdl-button mdl-js-button mdl-js-ripple-effect " data-pjax="main" href="/events" >Events</a>
      <a class="mdl-button mdl-js-button mdl-js-ripple-effect " data-pjax="main" href="/contact" >Contact</a>
    </nav>
  </div>
</header>
<div class="mdl-layout__drawer mdl-layout--small-screen-only">
  <span class="mdl-layout-title"><img src="/images/logo-name.png" style="width: 200px;"></span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="/about">About</a>
    <a class="mdl-navigation__link" href="/posts">Posts</a>
    <a class="mdl-navigation__link" href="/contact">Contact</a>
  </nav>
</div>
<!--Header End-->
