<!DOCTYPE html>
<html itemscope itemprop='http://schema.org/WebPage'>
  {% include head.html %}
<body>
    <div class="gdg-header mdl-layout mdl-js-layout">
      
      {% include header.html %}

      <!--Banner-->

      <main class="mdl-layout__content">
        
        {{ content }}
        
        <!--Footer-->
        {% include footer.html %}
      </main>
    </div>

    <style>
    .mdl-layout__header {
      background: white;
    }
    .gdg-header .mdl-layout__header,
    .gdg-header .mdl-layout__drawer-button {
      color: #ddd;
    }
    .mdl-layout__header-row {
      padding: 0 20px;
    }
    </style>
    <script src="/js/material.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    {% include analytics.html %}
  </body>
</html>
